<div id='container'>
  <button class="ui button" ng-click='reverse=!reverse'>Reverse</button>
  <div class="ui input">
    <input ng-model='search' placeholder='Search'>
  </div>
    <div class="ui divider">

  </div>
  <div class="ui divided list">
    <shortened-link link="link" class="item" ng-repeat="link in data.links | filter: search| orderBy: 'visits':reverse">
    </shortened-link>
  </div>



<!--   <div ng-repeat="link in data.links | filter: search| orderBy: 'visits':reverse">
    <a href="{{'api/links/' + link.code}}">{{link.code}} | {{link.title}} | {{link.url}} | {{link.visits}}</a>
  </div> -->
</div>
